{% extends 'blank.html' %}
{% load static %}
{% block title %} {{ setting.title}} - contact  {% endblock title %}

{% block page %} contact {%endblock page%}

{%  block content %}


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-8">

                    <div class="billing-details">

                        <div class="section-title">
                            <h3 class="title">Contact Form</h3>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <form action="" method="POST" enctype="multipart/form-data"> 
                            {% csrf_token %}
                            {{form.as_p}}
                        <input class="btn btn-outline-dark btn-block" type="submit" value='Enviar'>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h3 class="title">Contact Information</h3>
                        </div>
                        <div >
                            <p> {{ setting.contact|safe }}</p>
                           
                        </div>

                    </div>
                </div>




            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->



{% endblock content %}