{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} Blog - Login {% endblock title %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg'%} )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog django - project</h1>
            <span class="subheading">Blog desenvolvido em django</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock header %}


{% block content %}
    <div class="ml-auto mr-auto">
        <div class="card">
            <div class="card-header">
                <h2>Login do sistema</h2> 
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-outline-dark btn-block"type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>


{% endblock content %}


