{% extends 'base.html' %}
{% load static %}
{% block title %} Blog - Detail {% endblock title %}

{% block header %}

  <!-- Page Header -->
  {% if object.image%}
  <header class="masthead" style="background-image: url({{object.image.url}} )">
  {%else%}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg'%} )">

  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ object.title }}</h1>
            <span class="subheading">Blog desenvolvido em django</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock header %}

{% block content %} 

    <div class="post-entry">

        <h2>{{ object.title }}</h2>
        <p>{{ object.content|safe }} </p>
    </div>

      <!--
        <a href="{% url 'post_edit' object.pk %}">+ editar postagem no blog</a>
        <a href="{% url 'post_edit' post.pk %}">+ editar postagem no blog</a>
        
        <a href="{% url 'post_edit' object.slug %}">+ editar postagem no blog</a>  
        <a href="{% url 'post_edit' post.slug %}">+ editar postagem no blog</a>  
    --> 

    {%if request.user.is_authenticated %}
    <div class="mr-auto ml-auto mb-2">
        <a class="btn btn-primary mb-2" href="{{ object.get_absolute_update}}">+ editar postagem no blog</a>

        <a class="btn btn-danger mb-2" href="{{ object.get_absolute_delete}}"> - deletar postagem no blog</a>
    </div>
    {% endif %}

        
    

{% endblock content %}
